[Interface]
Address = 10.5.0.{{ item+2 }}/32
PrivateKey = {{ client_private_keys[item-1] | replace('\n', '') }}

[Peer]
PublicKey = {{ server_public_key.content | b64decode | replace('\n', '') }}
AllowedIPs = 10.5.0.0/24
Endpoint = {{ server_ip }}:{{ wg_port }}
