{% for i in range(1, wg_clients + 1) %}
[Interface]
Address = 10.5.0.{{ i }}/24
PrivateKey = {{ client_private_keys[i-1].content | replace('\n', '') }}
DNS = {{ wg_dns }}

[Peer]
PublicKey = {{ server_public_key.content | replace('\n', '') }}
AllowedIPs = 10.5.0.0/24
Endpoint = :20287

{% endfor %}
